.App {
  text-align: center;
}

.buttonMargin{
  margin-top: 5rem;
}

.App-photo-main {
  /*height: 57vmin;*/
  height: 85vmin;
  pointer-events: none;
  margin-top: 6rem;

}

.App-header {
  background-image: linear-gradient(#ff95aa, #8b20d2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.paymentButtonStyle{
  margin: 2rem 0;
}

.listItem{
  margin-right: 2rem;
}

.MuiCard-root {
  margin: 4rem 0;
  color: #eb969e;
}

